@using PuppeteerSharp;
@using RongChengApp.Services
@using System.Drawing;
@using System.Net.Http;
@page "/"
@using DynamicExpresso;
@using HSSB;


<PageTitle>Index</PageTitle>

<br />
@* <label>base64</label>
<label for="">用户名:</label> <input @bind-value="username" />
<label>密码</label> <input @bind-value="password" /> *@

<button @onclick="loadImage">登陆</button>
<button @onclick="random">刷新随机token,便于登陆</button>
<MDivider>

</MDivider>

<MDivider></MDivider>
@autoLoginService.d
<MDivider></MDivider>


<MTabs @bind-Value="tabIndex">
    <MTab>random字符串</MTab>
    <MTab>账号cookie</MTab>

</MTabs>
<MTabsItems Value="tabIndex">
    <MTabItem>
        <MCard Flat>
            <MCardText>
                @if (autoLoginService.dateTimeSigns != null)
                {
                    <MSimpleTable Height="400">
                        <thead>
                            <tr>
                                <th class="text-left" style="width:200px;display: inline-block;">
                                    日期
                                </th>
                                <th class="text-left">
                                    签名
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in autoLoginService.dateTimeSigns)
                            {
                                <tr @key="item.time">
                                    <td>@item.time</td>
                                    <td>@(item.random)</td>
                                </tr>
                            }
                        </tbody>
                    </MSimpleTable>
                }
            </MCardText>
        </MCard>
    </MTabItem>
    <MTabItem>
    <MSimpleTable Height="400">
        <thead>
            <tr  >
                <th>账号</th>
                <th>密码</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
        @foreach (var account in autoLoginService.accountCookie)
        {
                <tr>
                    <td>@account.Key</td>
                    <td>@account.Value</td>
                </tr>
        }

    </MSimpleTable>
    </MTabItem>
</MTabsItems>


@code {
    public string username = "605100";
    public string password = "123";
    public string uuid { get; set; } = Guid.NewGuid().ToString();
    public string base64Str { get; set; } = String.Empty;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);



    }






    public async Task loadImage()
    {

        var accounts = await accountService.loadAccounts();
        await autoLoginService.batAutoLogin(accounts);


    }







}

